/* WebOS */
*{

}
html{
	font-family: OpenSans;
	color: #ffffff;
}

table, tr, th, td{
	margin:1px;
	padding: 1px;
	/*border: 2px solid white;*/
}

/*Custom Font*/
@font-face {
	src: url("../../assets/font/OpenSans/OpenSans-CondLight.ttf") format("truetype");
	font-family: 'OpenSans';
	font-weight: normal;
  font-style: normal;
	font-size: 20;-size: 20;
}

header{
}

body{

}

.main-body{
}

.container{
}


input[type=text], select{

	width: 100%;
  padding: 2px 8px;
	font-size: 18px;
	font-family: OpenSans;
	color: #ffffff;
	background-color: rgb(0,0,0,0.0);
	border: none;
	box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}
